.logo{
  height: 32px;
  width: 35px;
}
button { position: relative; bottom: 0px; right: 0px; }
.img-circle {
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.panel{
  position: fixed;
width:300px;
text-align: center;
height: 100vh;
}

.caret{
  color: green;
}

.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}


#savebtn{
  margin-left: 81.5%;
}