<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://sen1.cedfeptfnkxz.ap-south-1.rds.amazonaws.com/sen1
		</property>
		<property name="hibernate.connection.username">
			sen1
		</property>
		<property name="hibernate.connection.password">
			jamfaadaudi
		</property>
		
		<!--  
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		-->
		<!-- entity classes -->
		<mapping class="pojo.UserCategoryPOJO" />
		<mapping class="pojo.UserPOJO" />
		<mapping class="pojo.ProgramPOJO" />
		<mapping class="pojo.CoursePOJO" />
		<mapping class="pojo.StudentPOJO" />
		<mapping class="pojo.GradeCard" />
		<mapping class="pojo.Audit_Report" />
		<mapping class="pojo.CourseProgramPOJO" />
		<mapping class="pojo.ProgramCoordinatorPOJO" />
		<mapping class="pojo.CourseCategoryPOJO" />
		<mapping class="pojo.CourseGroupPOJO" />
		<mapping class="pojo.CourseGroupCoursePOJO" />
		<mapping class="pojo.SemesterPOJO" />
		<mapping class="pojo.SemesterCoursePOJO" />
		<mapping class="pojo.CourseRecommendationLabelPOJO" />
		<mapping class="pojo.ProgramSemesterDetailPOJO" />
		<mapping class="pojo.SlotPOJO" />
		<mapping class="pojo.PrerequisitePOJO" />
	</session-factory>
</hibernate-configuration>